.App {
  height: 100%;

  display: flex;
  flex-flow: column wrap;
}

.App > * {
  flex: 1 0 auto;
}

.App footer {
  flex-shrink: 0;
}

.logo {
  float: left;
}

.site-layout-content {
  min-height: 14rem;
  padding: 1.5rem;
  background: #fff;
}

.box__round, .site-layout-content {
  border-radius: 0.5rem;
}

.box__round--shadow {
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.35rem 1rem 0.15rem rgba(0,0,0,0.05);
}

#root {
  height: inherit;
}